# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Jupyter
.jupyter/
.jupyterlab/

# Spark / Delta artifacts
warehouse/**
landing/**

# Logs
logs/
*.log

# Environment
.env
.env.*
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

.databricks

.vscode/